.body {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0 20px 0 20px;
  border-radius: 20px 20px 0 0;
}

.bodyImageContainer {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 55px;
  height: 359px;
  width: 300px;
}

.bodyImageFront {
  background-image: var(--body-front-image);
}

.bodyImageBack {
  background-image: var(--body-back-image);
}

.bodyImageAreaRedness,
.bodyImageAreaThickness {
  position: absolute;
  border-radius: 50%;
  transform-origin: center;
  overflow: hidden;
  z-index: 1;
}

.bodyImageAreaRedness {
  background: linear-gradient(#e520d4, #f9a755);
  opacity: 0;
  will-change: transform, opacity;
}

.pentagon {
  background: #fff;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.bodyTextArea {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #eeeeee;
  width: 100%;
}

.bodyTextArea {
  height: 120px;
  flex-direction: column;
  gap: 5px;
}

.bodyTextArea h1 {
  font-size: 16px;
}

.handText {
  text-align: center;
  font-size: 12px;
}

.backButtonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.backButtonContainerHidden {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.backButtonContainer img,
.backButtonContainerHidden img {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .body {
    border-radius: 20px 20px 20px 20px;
    height: 855px;
    width: 30%;
    padding: 40px;
  }
  .body .bodyImage {
    width: 100%;
    height: 100%;
  }

  .bodyImageContainer {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 0px;
    background-position-y: 64px !important;
    height: 100%;
    width: 100%;
  }

  .bodyTextArea {
    border-top: none;
  }

  .backButtonContainer {
    width: 100%;
    position: static;
    margin-top: 0;
  }

  .backButtonContainerHidden {
    width: 100%;
    position: static;
    margin-top: 0;
  }
}
