.imageContainer {
  width: 100%;
}

.imageSection {
  text-align: center;
}

.imageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 10px 0;
}

.imageTitle h2 {
  font-size: 12px;
  color: #202224;
  font-weight: 700;
}

.imageTitleLine {
  height: 1px;
  width: 50px;
  background: #202224;
  margin: 0 20px 0 20px;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.imageGrid img {
  border-radius: 50%;
  margin: 3px 0 0 0;
}

.imageWrapperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapperContainer img {
  object-fit: cover;
}

.imageWrapper {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.selected {
  border: 1px dotted #000;
  transform: scale(1.1);
  border-radius: 50%;
}

.bodyTextArea {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #eeeeee;
  width: 100%;
}

.bodyTextArea {
  height: 120px;
  flex-direction: column;
  gap: 5px;
}

.bodyTextArea h1 {
  font-size: 16px;
}

.handText {
  text-align: center;
  font-size: 12px;
}

.textChangeBodyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0 0 0;
}

.textChangeBody {
  width: 70%;
  text-align: center;
}

.changeSide {
  width: 20%;
}

.changeSide img {
  cursor: pointer;
}

.imageTitleText {
  font-size: 12px;
  font-weight: 700;
  color: #202224;
  margin-top: 10px;
}

@media (min-width: 1200px) {
  .imageContainer {
    width: 480px;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .bodyTextArea {
    border-top: none;
    gap: 10px;
  }

  .bodyTextArea h1 {
    font-size: 22px;
    font-weight: 500;
  }

  .handText {
    font-size: 12px;
  }

  .textChangeBodyContainer {
    padding: 0;
  }
}
