:root {
  --background: #ffffff;
  --textcolor: #000;
  --base-path: "";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100dvh - 1px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: var(--textcolor);
}

.rc-slider {
  padding: 10px 0 !important;
}
