.infoPopupContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background: #0000007a;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoPopupWrapper {
  background: #ffffff;
  width: 366px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}

.infoPopupButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 0;
}

.infoPopupButton {
  width: 100%;
  height: 42px;
  background: #2a6bff;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
