.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;
  background: #ffffff;
  padding: 30px;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
}

.infoContent {
  max-height: 280px;
  overflow: auto;
  padding: 0 5px;
}

.infoWrapper p {
  font-size: 16px;
}

.infoButtons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.infoButtons div {
  background: transparent;
  border: 2px solid #4880ffb2;
  width: 100%;
  height: 31px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  font-weight: 700;
}

.infoButtons div.activeButton {
  background: #2a6bff;
  color: white;
}

@media (min-width: 1200px) {
  .infoWrapper {
    width: 723px;
    border-radius: 20px;
    padding: 40px;
    height: 875px;
  }

  .infoContent {
    max-height: 700px;
  }

  .infoButtons {
    flex-direction: row;
    gap: 5px;
  }

  .infoButtons div {
    width: 191;
    height: 49px;
    border-radius: 10px;
  }
}
