.languageSwitcher {
  display: flex;
  justify-content: center;
}

.languageSwitcherContainer {
  width: 95%;
  padding: 10px 0;
  position: relative;
}

.languageSwitcherContainer button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #fff;
}

.dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  background: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.dropdownItem {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  color: #000;
}

.dropdownItem img {
  margin-right: 8px;
}
